<footer class="footer">
  <div class="footer__body">
    <div class="footer__center center">
      <div class="footer__col">
        <div class="footer__box">
          <a class="footer__logo" href="/"
            ><img
              class="some-icon"
              src="/img/content/logo.png"
              alt="CEDER Sports Academy"
            /><img
              class="some-icon-dark"
              src="/img/content/logo.png"
              alt="CEDER Sports Academy"
            /></a
          >
          <label class="theme js-theme">
            <input class="theme__input" type="checkbox" /><span
              class="theme__inner"
              ><span class="theme__box"></span><span class="theme__icon">
                <svg class="icon icon-moon">
                  <use xlink:href="#icon-moon"></use>
                </svg>
                <svg class="icon icon-sun">
                  <use xlink:href="#icon-sun"></use>
                </svg></span
              ></span
            >
          </label>
        </div>
        <div class="footer__item">
          <div class="footer__category">
            Quick Links
            <svg class="icon icon-arrow-bottom">
              <use xlink:href="#icon-arrow-bottom"></use>
            </svg>
          </div>
          <div class="footer__menu">
            <a class="footer__link" href="/about-us">About</a><a
              class="footer__link"
              href="/contact">Programs</a
            ><a class="footer__link" href="/about-us">Membership</a><a
              class="footer__link"
              href="/contact">Contact</a
            >
          </div>
        </div>
      </div>
      <div class="footer__row footer_extend_row">
        <div class="footer__category">Contact</div>
        <div class="footer__info">
          <p>CEDER Sports Academy</p>
          <p>
            In partnership with Ministry of Youth Affairs, Creative Economy and
            Sports
          </p>
          <p>Nairobi, Kenya</p>
          <!-- <p>+254 700 000 000</p> -->
          <p>cedersportsacademy@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__center center">
      <div class="footer__copyright">
        Copyright © 2025 CEDER Sports Academy. All rights reserved
      </div>
      <!-- <div class="footer__socials">
        <a
          class="footer__social"
          href="https://www.facebook.com/"
          target="_blank"
        >
          <svg class="icon icon-facebook">
            <use xlink:href="#icon-facebook"></use>
          </svg></a
        ><a class="footer__social" href="https://twitter.com/" target="_blank">
          <svg class="icon icon-twitter">
            <use xlink:href="#icon-twitter"></use>
          </svg></a
        ><a
          class="footer__social"
          href="https://www.instagram.com/"
          target="_blank"
        >
          <svg class="icon icon-instagram">
            <use xlink:href="#icon-instagram"></use>
          </svg></a>
      </div> -->
    </div>
  </div>
</footer>
