<header class="header js-header">
  <div class="header__center center">
    <a class="header__logo" href="/"
      ><img
        class="some-icon"
        height="100"
        src="/img/content/logo.png"
        alt="CEDER Sports Academy"
      /><img
        height="100"
        class="some-icon-dark"
        src="/img/content/logo.png"
        alt="CEDER Sports Academy"
      /></a
    >
    <div class="header__wrap js-header-wrap">
      <nav class="header__nav">
        <a class="header__link" href="/about-us">About</a>
        <!-- <div class="header__dropdown js-header-dropdown">
                  <div class="header__head js-header-head">Programs
                      <svg class="icon icon-arrow-bottom">
          <use xlink:href="#icon-arrow-bottom"></use>
        </svg>
                  </div>
                  <div class="header__body js-header-body">
                      <div class="header__inner">
                          <div class="header__row">
                              <div class="header__col">
                                  <a class="header__direction" href="#">
                                      <div class="header__info">Train with Kenya's best coaches 🚣‍♂️</div>
                                      <div class="header__preview"><img  src="/img/content/ball.png" alt="Ball"></div>
                                  </a>
                                  <div class="header__menu">
                                      <a class="header__box" href="training.html">
                                          <div class="header__icon"><img src="/img/menu-video.svg" alt="Video"></div>
                                          <div class="header__text">Training Programs</div>
                                      </a>
                                      <a class="header__box" href="events.html">
                                          <div class="header__icon"><img src="/img/menu-class.svg" alt="Class"></div>
                                          <div class="header__text">Events & Competitions</div>
                                      </a>
                                  </div>
                              </div>
                              <div class="header__col">
                                  <div class="header__line">
                                      <div class="header__cell">
                                          <a class="header__card" href="rafting.html">
                                              <div class="header__photo"><img  src="/img/content/header-pic-1.png" alt="Header content">
                                                  <div class="status-black header__category">featured</div>
                                              </div>
                                              <div class="header__top">
                                                  <div class="header__user">
                                                      <div class="header__avatar"><img src="/img/content/avatar-1.png" alt="Avatar"></div>
                                                      <div class="header__details">
                                                          <div class="header__title">Competitive Rafting</div>
                                                          <div class="header__trainer">Team Kenya</div>
                                                      </div>
                                                  </div>
                                                  <div class="status-stroke-green header__level">all levels</div>
                                              </div>
                                              <div class="header__content">Train with Kenya's top rafting coaches and prepare for international competition.</div>
                                          </a>
                                      </div>
                                      <div class="header__cell">
                                          <a class="header__item" href="youth.html">
                                              <div class="header__photo"><img  src="/img/content/header-pic-2.png" alt="Header content"></div>
                                              <div class="header__description">
                                                  <div class="status-green header__category">youth</div>
                                                  <div class="header__user">
                                                      <div class="header__avatar"><img src="/img/content/avatar-2.png" alt="Avatar"></div>
                                                      <div class="header__details">
                                                          <div class="header__title">Youth Development</div>
                                                          <div class="header__trainer">Future Stars</div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                          <a class="header__item" href="multisport.html">
                                              <div class="header__photo"><img src="/img/content/header-pic-3.png" alt="Header content"></div>
                                              <div class="header__description">
                                                  <div class="status-purple header__category">multi-sport</div>
                                                  <div class="header__user">
                                                      <div class="header__avatar"><img src="/img/content/avatar-3.png" alt="Avatar"></div>
                                                      <div class="header__details">
                                                          <div class="header__title">Cross Training</div>
                                                          <div class="header__trainer">Athletic Development</div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                          <a class="header__item" href="community.html">
                                              <div class="header__photo"><img  src="/img/content/header-pic-4.png" alt="Header content"></div>
                                              <div class="header__description">
                                                  <div class="status-red header__category">community</div>
                                                  <div class="header__user">
                                                      <div class="header__avatar"><img src="/img/content/avatar-4.png" alt="Avatar"></div>
                                                      <div class="header__details">
                                                          <div class="header__title">Community Programs</div>
                                                          <div class="header__trainer">Grassroots Sport</div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->
        <!-- <div class="header__dropdown js-header-dropdown">
                  <div class="header__head js-header-head">Get Involved
                      <svg class="icon icon-arrow-bottom">
          <use xlink:href="#icon-arrow-bottom"></use>
        </svg>
                  </div>
                  <div class="header__body js-header-body">
                      <div class="header__inner">
                          <div class="header__row">
                              <div class="header__col">
                                  <div class="header__menu">
                                      <a class="header__box" href="membership.html">
                                          <div class="header__icon"><img src="/img/menu-video.svg" alt="Membership"></div>
                                          <div class="header__text">Membership</div>
                                      </a>
                                      <a class="header__box" href="sponsor.html">
                                          <div class="header__icon"><img src="/img/menu-class.svg" alt="Sponsorship"></div>
                                          <div class="header__text">Sponsorship</div>
                                      </a>
                                      <a class="header__box" href="volunteer.html">
                                          <div class="header__icon"><img src="/img/menu-class.svg" alt="Volunteer"></div>
                                          <div class="header__text">Volunteer</div>
                                      </a>
                                      <a class="header__box" href="partner.html">
                                          <div class="header__icon"><img src="/img/menu-class.svg" alt="Partner"></div>
                                          <div class="header__text">Partner With Us</div>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->

        <a class="header__link" href="/contact">Contact</a>
      </nav>
      <div class="header__group">
        <div class="header__contacts">
          <div class="header__element">
            <div class="header__subtitle">Nairobi</div>
            <div class="header__text">Main Office</div>
          </div>
          <div class="header__element">
            <div class="header__subtitle">Rift Valley</div>
            <div class="header__text">Training Center</div>
          </div>
        </div>
        <!-- <div class="header__socials"><a class="header__social" href="https://www.facebook.com/" target="_blank">
        <svg class="icon icon-facebook">
          <use xlink:href="#icon-facebook"></use>
        </svg></a><a class="header__social" href="https://twitter.com/" target="_blank">
        <svg class="icon icon-twitter">
          <use xlink:href="#icon-twitter"></use>
        </svg></a><a class="header__social" href="https://www.instagram.com/" target="_blank">
        <svg class="icon icon-instagram">
          <use xlink:href="#icon-instagram"></use>
        </svg></a></div> -->
        <button class="button-stroke button-small header__button"
          >Join Now</button
        >
      </div>
    </div>
    <a href="/contact" class="button-stroke button-small header__button">Join Now</a>
    <label class="theme js-theme">
      <input class="theme__input" type="checkbox" /><span class="theme__inner"
        ><span class="theme__box"></span><span class="theme__icon">
          <svg class="icon icon-moon">
            <use xlink:href="#icon-moon"></use>
          </svg>
          <svg class="icon icon-sun">
            <use xlink:href="#icon-sun"></use>
          </svg></span
        ></span
      >
    </label>
    <button class="header__burger js-header-burger"></button>
  </div>
</header>
