<div class="outer">
  <!-- container-->
  <div class="outer__content">
    <div class="main_override">
      <div class="main__center center">
        <div class="main_wrap_override">
          <div class="stage">OUR MISSION AND VISION</div>
          <h1 class="main__title h1">About CEDER Sports Academy</h1>
          <div class="main__text">
            Kenya's premier multi-disciplinary sports training institution in
            partnership with the Ministry of Youth Affairs, Creative Economy and
            Sports.
          </div>
          <div class="main__btns">
            <a class="button main__button" href="#mission">Our Mission</a><a
              class="button-stroke main__button"
              href="#vision">Our Vision</a>
          </div>
        </div>

        <a class="scroll js-scroll" href="#mission">
          <div class="scroll__line">
            <svg class="icon icon-arrow-down">
              <use xlink:href="#icon-arrow-down"></use>
            </svg>
            <svg class="icon icon-arrow-down">
              <use xlink:href="#icon-arrow-down"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>

    <div class="section-border-top about" id="mission">
      <div class="about__center center">
        <div class="about__row">
          <div class="about__col_override">
            <div class="stage">OUR MISSION</div>
            <h2 class="about__title h2">Empowering Kenyan Athletes</h2>
            <div class="about__info">
              Our mission is to empower Kenyan Sports for success, grow the
              community, and inspire passion for multi-disciplinary sports.
            </div>
          </div>
        </div>
        <div class="about__row">
          <div class="about__col">
            <div class="about__list">
              <div class="about__item" data-aos="animation-opacity">
                <div class="about__number" style="background-color: #9757D7;">
                  01
                </div>
                <div class="about__subtitle">Athletic Excellence</div>
                <div class="about__content">
                  Developing top athletes who represent Kenya in international
                  competitions.
                </div>
              </div>
              <div class="about__item" data-aos="animation-opacity">
                <div class="about__number" style="background-color: #EF466F;">
                  02
                </div>
                <div class="about__subtitle">Community Development</div>
                <div class="about__content">
                  Growing sports participation across all 47 counties in Kenya.
                </div>
              </div>
              <div class="about__item" data-aos="animation-opacity">
                <div class="about__number" style="background-color: #45B26B;">
                  03
                </div>
                <div class="about__subtitle">National Pride</div>
                <div class="about__content">
                  Building Kenya's reputation as a competitive sporting nation
                  globally.
                </div>
              </div>
            </div>
          </div>
          <div class="about__col">
            <div class="about__bg">
              <img
                src="https://images.pexels.com/photos/2526878/pexels-photo-2526878.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Athletes training"
              />
              <div class="about__preview" data-aos="animation-translate-up">
                <img
                  src="https://images.pexels.com/photos/4761352/pexels-photo-4761352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  alt="Sports equipment"
                />
              </div>
              <button class="play" aria-label="aria-label=">
                <svg class="icon icon-play">
                  <use xlink:href="#icon-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section details" id="vision">
      <div class="details__center center">
        <div class="details__head">
          <div class="stage-small">Our Vision</div>
          <h2 class="details__title h2">Building Kenya's Sporting Future</h2>
        </div>
        <div class="details__info">
          To provide direction for multi-disciplinary sports, create awareness,
          and establish a foundation for success at the national and
          international level.
        </div>
        <div class="details__list">
          <div class="details__item" data-aos="animation-opacity">
            <div class="details__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="46"
                viewBox="0 0 36 46"
              >
                <path
                  fill="#23262f"
                  fill-rule="evenodd"
                  d="M24.292 0c5.947 0 9.815 6.259 7.155 11.578l-1.486 2.971C33.666 17.846 36 22.651 36 28c0 9.941-8.059 18-18 18S0 37.941 0 28c0-5.349 2.334-10.154 6.038-13.451l-1.485-2.971C1.893 6.259 5.761 0 11.708 0h12.584zM18 14c-7.732 0-14 6.268-14 14s6.268 14 14 14 14-6.268 14-14-6.268-14-14-14zm6.292-10H11.708C8.735 4 6.801 7.129 8.131 9.789l1.213 2.425A17.92 17.92 0 0 1 18 10a17.92 17.92 0 0 1 8.657 2.215l1.212-2.426C29.199 7.129 27.265 4 24.292 4z"
                ></path>
              </svg>
            </div>
            <div class="details__category">World-Class Facilities</div>
            <div class="details__content">
              Developing venues with contemporary facilities to achieve
              international recognition.
            </div>
          </div>
          <div class="details__item" data-aos="animation-opacity">
            <div class="details__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 40 40"
              >
                <path
                  fill="#23262f"
                  fill-rule="evenodd"
                  d="M34.201 5.917l.05.05.336.35.019.02h0l.036.038.309.339.048.054h0l.018.021C38.119 10.314 40 14.937 40 20s-1.881 9.686-4.982 13.209l-.018.021-.048.055-.309.339-.038.041-.354.368-.05.05-.059.059c-.244.244-.495.482-.751.714l-.071.063-.385.335-.086.073a20.19 20.19 0 0 1-.783.625l-.066.05A19.91 19.91 0 0 1 20 40a19.92 19.92 0 0 1-12.849-4.673l-.086-.073-.384-.335-.071-.064a20.08 20.08 0 0 1-1.213-1.191 20.47 20.47 0 0 1-.395-.435l.357.394-.309-.339-.048-.054h0l-.019-.021C1.881 29.686 0 25.063 0 20s1.881-9.686 4.982-13.209l.019-.021.048-.055.308-.339.036-.038.019-.02c.386-.411.789-.806 1.208-1.183l.06-.054.389-.339.104-.088a19.99 19.99 0 0 1 .82-.651L8 3.999l.034-.025A19.91 19.91 0 0 1 20 0a19.91 19.91 0 0 1 12 3.998l.038.029a20.16 20.16 0 0 1 .788.627l.105.088.389.339.06.054a20.2 20.2 0 0 1 .762.723l.059.059h0zM20 4c-3.338 0-6.438 1.022-9.002 2.771C14.112 10.296 16 14.928 16 20s-1.888 9.704-5 13.229C13.562 34.978 16.662 36 20 36s6.438-1.022 9.002-2.771C25.888 29.704 24 25.072 24 20s1.888-9.704 5-13.229C26.438 5.022 23.338 4 20 4zM8 9.417l-.111.126C5.466 12.347 4 16.002 4 20a15.94 15.94 0 0 0 4 10.583c2.49-2.821 4-6.526 4-10.583A15.94 15.94 0 0 0 8 9.417zm24.001.001l-.108.122C29.467 12.344 28 16.001 28 20a15.94 15.94 0 0 0 3.999 10.582A15.93 15.93 0 0 0 36 20a15.94 15.94 0 0 0-3.999-10.582z"
                ></path>
              </svg>
            </div>
            <div class="details__category">High-Level Competition</div>
            <div class="details__content">
              Hosting and competing in prestigious national and international
              events.
            </div>
          </div>
          <div class="details__item" data-aos="animation-opacity">
            <div class="details__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="38"
                height="44"
                viewBox="0 0 38 44"
              >
                <path
                  fill="#23262f"
                  fill-rule="evenodd"
                  d="M18 8c9.941 0 18 8.059 18 18s-8.059 18-18 18S0 35.941 0 26 8.059 8 18 8zm0 4c-7.732 0-14 6.268-14 14s6.268 14 14 14 14-6.268 14-14-6.268-14-14-14zm0 4a2 2 0 0 1 2 2v8a2 2 0 1 1-4 0v-8a2 2 0 0 1 2-2zm14.586-9.414a2 2 0 0 1 2.828 0h0l2 2a2 2 0 0 1-2.828 2.828h0l-2-2a2 2 0 0 1 0-2.828zM22 0a2 2 0 1 1 0 4h0-8a2 2 0 1 1 0-4h0z"
                ></path>
              </svg>
            </div>
            <div class="details__category">Talent Development</div>
            <div class="details__content">
              Building Kenya's competitive talent pool across multiple sports.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section events" id="values">
      <div class="details__center center">
        <div class="details__head">
          <div class="stage-small">Our Foundation</div>
          <h2 class="details__title h2">Core Values</h2>
        </div>
        <div class="details__list">
          <div class="details__item" data-aos="animation-opacity">
            <div class="details__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="46"
                viewBox="0 0 36 46"
              >
                <path
                  fill="#23262f"
                  fill-rule="evenodd"
                  d="M24.292 0c5.947 0 9.815 6.259 7.155 11.578l-1.486 2.971C33.666 17.846 36 22.651 36 28c0 9.941-8.059 18-18 18S0 37.941 0 28c0-5.349 2.334-10.154 6.038-13.451l-1.485-2.971C1.893 6.259 5.761 0 11.708 0h12.584zM18 14c-7.732 0-14 6.268-14 14s6.268 14 14 14 14-6.268 14-14-6.268-14-14-14zm6.292-10H11.708C8.735 4 6.801 7.129 8.131 9.789l1.213 2.425A17.92 17.92 0 0 1 18 10a17.92 17.92 0 0 1 8.657 2.215l1.212-2.426C29.199 7.129 27.265 4 24.292 4z"
                ></path>
              </svg>
            </div>
            <div class="details__category">Integrity</div>
            <div class="details__content">
              We embrace good governance, transparency and promote clean sports
              free from doping.
            </div>
          </div>
          <div class="details__item" data-aos="animation-opacity">
            <div class="details__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 40 40"
              >
                <path
                  fill="#23262f"
                  fill-rule="evenodd"
                  d="M34.201 5.917l.05.05.336.35.019.02h0l.036.038.309.339.048.054h0l.018.021C38.119 10.314 40 14.937 40 20s-1.881 9.686-4.982 13.209l-.018.021-.048.055-.309.339-.038.041-.354.368-.05.05-.059.059c-.244.244-.495.482-.751.714l-.071.063-.385.335-.086.073a20.19 20.19 0 0 1-.783.625l-.066.05A19.91 19.91 0 0 1 20 40a19.92 19.92 0 0 1-12.849-4.673l-.086-.073-.384-.335-.071-.064a20.08 20.08 0 0 1-1.213-1.191 20.47 20.47 0 0 1-.395-.435l.357.394-.309-.339-.048-.054h0l-.019-.021C1.881 29.686 0 25.063 0 20s1.881-9.686 4.982-13.209l.019-.021.048-.055.308-.339.036-.038.019-.02c.386-.411.789-.806 1.208-1.183l.06-.054.389-.339.104-.088a19.99 19.99 0 0 1 .82-.651L8 3.999l.034-.025A19.91 19.91 0 0 1 20 0a19.91 19.91 0 0 1 12 3.998l.038.029a20.16 20.16 0 0 1 .788.627l.105.088.389.339.06.054a20.2 20.2 0 0 1 .762.723l.059.059h0zM20 4c-3.338 0-6.438 1.022-9.002 2.771C14.112 10.296 16 14.928 16 20s-1.888 9.704-5 13.229C13.562 34.978 16.662 36 20 36s6.438-1.022 9.002-2.771C25.888 29.704 24 25.072 24 20s1.888-9.704 5-13.229C26.438 5.022 23.338 4 20 4zM8 9.417l-.111.126C5.466 12.347 4 16.002 4 20a15.94 15.94 0 0 0 4 10.583c2.49-2.821 4-6.526 4-10.583A15.94 15.94 0 0 0 8 9.417zm24.001.001l-.108.122C29.467 12.344 28 16.001 28 20a15.94 15.94 0 0 0 3.999 10.582A15.93 15.93 0 0 0 36 20a15.94 15.94 0 0 0-3.999-10.582z"
                ></path>
              </svg>
            </div>
            <div class="details__category">Leadership</div>
            <div class="details__content">
              We provide honest & competent leadership in sports development.
            </div>
          </div>
          <div class="details__item" data-aos="animation-opacity">
            <div class="details__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="38"
                height="44"
                viewBox="0 0 38 44"
              >
                <path
                  fill="#23262f"
                  fill-rule="evenodd"
                  d="M18 8c9.941 0 18 8.059 18 18s-8.059 18-18 18S0 35.941 0 26 8.059 8 18 8zm0 4c-7.732 0-14 6.268-14 14s6.268 14 14 14 14-6.268 14-14-6.268-14-14-14zm0 4a2 2 0 0 1 2 2v8a2 2 0 1 1-4 0v-8a2 2 0 0 1 2-2zm14.586-9.414a2 2 0 0 1 2.828 0h0l2 2a2 2 0 0 1-2.828 2.828h0l-2-2a2 2 0 0 1 0-2.828zM22 0a2 2 0 1 1 0 4h0-8a2 2 0 1 1 0-4h0z"
                ></path>
              </svg>
            </div>
            <div class="details__category">Growth</div>
            <div class="details__content">
              We look for innovative ways to increase the talent pool across
              multiple sports.
            </div>
          </div>
        </div>
        <div class="details__list">
          <div class="details__item" data-aos="animation-opacity">
            <div class="details__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="46"
                viewBox="0 0 36 46"
              >
                <path
                  fill="#23262f"
                  fill-rule="evenodd"
                  d="M24.292 0c5.947 0 9.815 6.259 7.155 11.578l-1.486 2.971C33.666 17.846 36 22.651 36 28c0 9.941-8.059 18-18 18S0 37.941 0 28c0-5.349 2.334-10.154 6.038-13.451l-1.485-2.971C1.893 6.259 5.761 0 11.708 0h12.584zM18 14c-7.732 0-14 6.268-14 14s6.268 14 14 14 14-6.268 14-14-6.268-14-14-14zm6.292-10H11.708C8.735 4 6.801 7.129 8.131 9.789l1.213 2.425A17.92 17.92 0 0 1 18 10a17.92 17.92 0 0 1 8.657 2.215l1.212-2.426C29.199 7.129 27.265 4 24.292 4z"
                ></path>
              </svg>
            </div>
            <div class="details__category">Equity & Equality</div>
            <div class="details__content">
              We ensure balanced access to opportunities and resources for all
              members.
            </div>
          </div>
          <div class="details__item" data-aos="animation-opacity">
            <div class="details__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 40 40"
              >
                <path
                  fill="#23262f"
                  fill-rule="evenodd"
                  d="M34.201 5.917l.05.05.336.35.019.02h0l.036.038.309.339.048.054h0l.018.021C38.119 10.314 40 14.937 40 20s-1.881 9.686-4.982 13.209l-.018.021-.048.055-.309.339-.038.041-.354.368-.05.05-.059.059c-.244.244-.495.482-.751.714l-.071.063-.385.335-.086.073a20.19 20.19 0 0 1-.783.625l-.066.05A19.91 19.91 0 0 1 20 40a19.92 19.92 0 0 1-12.849-4.673l-.086-.073-.384-.335-.071-.064a20.08 20.08 0 0 1-1.213-1.191 20.47 20.47 0 0 1-.395-.435l.357.394-.309-.339-.048-.054h0l-.019-.021C1.881 29.686 0 25.063 0 20s1.881-9.686 4.982-13.209l.019-.021.048-.055.308-.339.036-.038.019-.02c.386-.411.789-.806 1.208-1.183l.06-.054.389-.339.104-.088a19.99 19.99 0 0 1 .82-.651L8 3.999l.034-.025A19.91 19.91 0 0 1 20 0a19.91 19.91 0 0 1 12 3.998l.038.029a20.16 20.16 0 0 1 .788.627l.105.088.389.339.06.054a20.2 20.2 0 0 1 .762.723l.059.059h0zM20 4c-3.338 0-6.438 1.022-9.002 2.771C14.112 10.296 16 14.928 16 20s-1.888 9.704-5 13.229C13.562 34.978 16.662 36 20 36s6.438-1.022 9.002-2.771C25.888 29.704 24 25.072 24 20s1.888-9.704 5-13.229C26.438 5.022 23.338 4 20 4zM8 9.417l-.111.126C5.466 12.347 4 16.002 4 20a15.94 15.94 0 0 0 4 10.583c2.49-2.821 4-6.526 4-10.583A15.94 15.94 0 0 0 8 9.417zm24.001.001l-.108.122C29.467 12.344 28 16.001 28 20a15.94 15.94 0 0 0 3.999 10.582A15.93 15.93 0 0 0 36 20a15.94 15.94 0 0 0-3.999-10.582z"
                ></path>
              </svg>
            </div>
            <div class="details__category">Excellence</div>
            <div class="details__content">
              We hold all our events to world-class standards and produce
              competitive athletes.
            </div>
          </div>
          <div class="details__item" data-aos="animation-opacity">
            <div class="details__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="38"
                height="44"
                viewBox="0 0 38 44"
              >
                <path
                  fill="#23262f"
                  fill-rule="evenodd"
                  d="M18 8c9.941 0 18 8.059 18 18s-8.059 18-18 18S0 35.941 0 26 8.059 8 18 8zm0 4c-7.732 0-14 6.268-14 14s6.268 14 14 14 14-6.268 14-14-6.268-14-14-14zm0 4a2 2 0 0 1 2 2v8a2 2 0 1 1-4 0v-8a2 2 0 0 1 2-2zm14.586-9.414a2 2 0 0 1 2.828 0h0l2 2a2 2 0 0 1-2.828 2.828h0l-2-2a2 2 0 0 1 0-2.828zM22 0a2 2 0 1 1 0 4h0-8a2 2 0 1 1 0-4h0z"
                ></path>
              </svg>
            </div>
            <div class="details__category">Passion</div>
            <div class="details__content">
              We operate with a spirit of service and zeal in everything we do.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="intro" id="team">
          <div class="intro__center center">
              <div class="intro__gallery">
                  <div class="intro__preview" data-aos="animation-translate-up" data-aos-anchor=".intro__gallery"><img src="https://images.pexels.com/photos/6551145/pexels-photo-6551145.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Team"></div>
                  <div class="intro__preview" data-aos="animation-translate-up" data-aos-delay="300" data-aos-anchor=".intro__gallery"><img src="https://images.pexels.com/photos/4761352/pexels-photo-4761352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Training"></div>
              </div>
              <div class="intro__wrap">
                  <h2 class="intro__title h1">Our Team</h2>
                  <div class="intro__text">Our academy is supported by experienced coaches, administrators, and sports professionals dedicated to athlete development.</div>
                  <div class="intro__info">
                      <p>From grassroots training to elite competition preparation, our team brings decades of experience in sports development across multiple disciplines.</p>
                  </div>
                  <a class="button intro__button" href="team.html">Meet Our Team</a>
              </div>
          </div>
      </div> -->

    <div class="section-border-top offers">
      <div class="offers__center center">
        <div class="stage">JOIN OUR MISSION</div>
        <h2 class="offers__title h1">Let's Work Together</h2>
        <div class="offers__text">
          Partner with us to develop Kenya's next generation of sporting
          champions.
        </div>
        <a class="button offers__button" href="/contact">Contact Us</a>
      </div>
    </div>
  </div>

    <!-- video poup -->
    <div id="videoPopup" class="video-popup hidden" role="dialog" aria-modal="true" aria-labelledby="videoPopupTitle">
      <div class="video-popup-overlay" tabindex="-1" data-close-popup></div>
      <div class="video-popup-content">
        <button class="video-popup-close" aria-label="Close video popup" data-close-popup>×</button>
        <h2 id="videoPopupTitle" class="visually-hidden">Academy Video</h2>
        <video id="popupVideoPlayer" controls preload="metadata">
          <source src="/video/cedar.mp4" type="video/mp4">
          Your browser does not support the video tag. Please update your browser.
        </video>
      </div>
    </div>
    <!-- **** END VIDEO POPUP HTML **** -->
  
  
    <!-- ... (Your existing #popup-trainer popup) ... -->
    <div class="popup popup_trainer mfp-hide" id="popup-trainer">
       <!-- ... -->
    </div>
</div>




<!-- **** START VIDEO POPUP STYLES **** -->
<style is:global>
  .video-popup {
    position: fixed;
    inset: 0; /* A shorthand for top, right, bottom, left = 0 */
    z-index: 1050; /* Ensure it's above most content, adjust if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    /* Start hidden */
    opacity: 0;
    visibility: hidden;
  }

  .video-popup:not(.hidden) {
     /* Become visible */
    opacity: 1;
    visibility: visible;
  }

  .video-popup-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75); /* Dark semi-transparent background */
    cursor: pointer;
  }

  .video-popup-content {
    position: relative; /* For positioning the close button */
    background-color: #000; /* Black background is common for video */
    padding: 10px; /* Small padding around the video */
    border-radius: 8px;
    max-width: 90vw; /* Max width relative to viewport width */
    max-height: 90vh; /* Max height relative to viewport height */
    z-index: 1051; /* Above overlay */
    box-shadow: 0 8px 25px rgba(0,0,0,0.5);
    display: flex; /* Helps contain the video */
  }

  .video-popup-content video {
    display: block; /* Prevents extra space below */
    max-width: 100%;
    max-height: calc(90vh - 20px); /* Consider popup padding */
    height: auto; /* Maintain aspect ratio */
    width: auto; /* Maintain aspect ratio */
  }

  .video-popup-close {
    position: absolute;
    top: -15px; /* Position slightly outside the top-right */
    right: -15px;
    width: 35px;
    height: 35px;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px; /* Vertically center the 'x' */
    text-align: center;
    color: #333;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1052; /* Above content */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: background-color 0.2s ease;
  }
  .video-popup-close:hover,
  .video-popup-close:focus {
    background-color: #eee;
    outline: none; /* Basic focus style, improve if needed */
  }

  /* Visually hidden class for accessibility */
  .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
  }

  /* Make sure the original play button is styled appropriately */
  .about__bg button.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 50%;
    width: 70px; /* Adjust size as needed */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0; /* Remove default padding */
    z-index: 10; /* Ensure it's above the image */
  }

  .about__bg button.play:hover {
    background: rgba(0, 0, 0, 0.7);
  }

  .about__bg button.play .icon-play {
    width: 25px; /* Adjust icon size */
    height: 25px;
    fill: white;
    display: block; /* Ensure proper rendering */
    margin-left: 5px; /* Nudge the play icon slightly right for visual centering */
  }

</style>
<!-- **** END VIDEO POPUP STYLES **** -->


<!-- **** START VIDEO POPUP SCRIPT **** -->
<script is:inline>
  // Wait for the DOM to be fully loaded
  document.addEventListener('DOMContentLoaded', () => {
    // Select the elements
    const playButton = document.querySelector('.about__bg .play'); // Make selector specific
    const videoPopup = document.getElementById('videoPopup');
    const videoPlayer = document.getElementById('popupVideoPlayer');
    const closeTriggers = document.querySelectorAll('[data-close-popup]'); // Select close button and overlay

    // Check if all elements exist
    if (!playButton) {
        console.warn("Video play button (.about__bg .play) not found.");
        return;
    }
    if (!videoPopup) {
        console.error("Video popup container (#videoPopup) not found.");
        return;
    }
     if (!videoPlayer) {
        console.error("Video player element (#popupVideoPlayer) not found.");
        return;
    }
     if (closeTriggers.length === 0) {
        console.warn("Video popup close triggers ([data-close-popup]) not found.");
        // You could still proceed but closing might not work
    }


    // Function to open the popup
    const openPopup = () => {
      if (videoPopup && videoPlayer) {
        videoPopup.classList.remove('hidden');
        videoPopup.focus(); // Focus the popup for accessibility
        videoPlayer.play().catch(error => {
          console.log("Autoplay was prevented by the browser:", error);
          // Video will load but might not play automatically depending on browser policy
        });
      }
    };

    // Function to close the popup
    const closePopup = () => {
      if (videoPopup && videoPlayer) {
        videoPopup.classList.add('hidden');
        videoPlayer.pause();
        videoPlayer.currentTime = 0; // Reset video to the start
        playButton?.focus(); // Return focus to the button that opened it
      }
    };

    // Event listener for the play button
    playButton.addEventListener('click', (event) => {
      event.preventDefault(); // Prevent any default button behavior
      openPopup();
    });

    // Event listeners for close triggers (button and overlay)
    closeTriggers.forEach(trigger => {
      trigger.addEventListener('click', () => {
        closePopup();
      });
    });

    // Event listener for the Escape key
    document.addEventListener('keydown', (event) => {
      // Check if the popup is visible and the Escape key was pressed
      if (event.key === 'Escape' && !videoPopup.classList.contains('hidden')) {
        closePopup();
      }
    });
  });
</script>
